body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  font-size: 21px;
}

@media (min-width: 1200px){
  header{
    background-color: #fae7d7;
    padding: 3%;
  }
  header h1{
    margin: 0;
    font-size: 42px;
  }
  main h1, main p, main h4 {
    padding-left: 2%;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
  }
  .navbar > a:nth-child(1) {
    width: 20%;
  }
  .navbar > a:nth-child(2) {
    align-self: center;
  }
  .bottom-create > a:nth-child(1) {
    margin: 2%;
    padding: 1%;
    border: 1px solid #111;
    border-radius: 30px;
    background-color: #0080009e;
    /*! position: relative; *//*! top: 5; */
   }
   .bottom-create {
    margin: 2%;
    border-top: 1px solid #111;
    /*! position: relative; */padding-top: 2%;
   }
   .navbar > a:nth-child(2) {
    align-self: center;
    width: 53%;
    text-align: end;
    margin-right: 5%;
  }
  .navbar > a:nth-child(3) {
    align-self: center;
    text-align: end;
   }
   #no-user {
    margin: auto;
    text-align: center;
    margin-top: 14%;
    color: #b90000;
   }
   #perfil{
    font-size: 22px;
    align-self: center;
    margin-left: 45%;
   }   
   .navbar > form:nth-child(3) {
    align-self: center;
    margin-left: 2%;
   }
   #perfill {
    margin-right: 0;
    width: 68%;
   }
   
}